*.log
*.out
*_effect.csv
*_coef.csv
log/Backbone/RL_gru/mixing_task_kfold/schedual_lr_cv0.log
machine_configure.json
data/*
checkpoint/*
__pycache__/utils.cpython-38.pyc
16.dataset_for_RL_gru.ipynb
cell_line_data.ipynb
models/__pycache__/Backbone.cpython-38.pyc
models/__pycache__/Baseline_models.cpython-38.pyc
models/__pycache__/bucket_sampler.cpython-38.pyc
models/__pycache__/loss.cpython-38.pyc
models/__pycache__/popen.cpython-38.pyc
models/__pycache__/reader.cpython-38.pyc
models/__pycache__/ScheduleOptimizer.cpython-38.pyc
models/__pycache__/train_val.cpython-38.pyc
.vscode/launch.json
util/read_sparse_training_data.ipynb
models/__pycache__/bucket_sampler.cpython-37.pyc
models/__pycache__/popen.cpython-37.pyc
models/__pycache__/reader.cpython-37.pyc
models/__pycache__/ScheduleOptimizer.cpython-37.pyc
models/Modules/__pycache__/__init__.cpython-37.pyc
models/Modules/__pycache__/__init__.cpython-38.pyc
models/Modules/__pycache__/_operator.cpython-37.pyc
models/Modules/__pycache__/_operator.cpython-38.pyc
models/Modules/__pycache__/Backbone.cpython-37.pyc
models/Modules/__pycache__/Backbone.cpython-38.pyc
models/Modules/__pycache__/GP_net.cpython-37.pyc
models/Modules/__pycache__/GP_net.cpython-38.pyc
models/Modules/__pycache__/Koo_net.cpython-37.pyc
models/Modules/__pycache__/Koo_net.cpython-38.pyc
models/Modules/__pycache__/zoo.cpython-38.pyc
script/__pycache__/PATH.cpython-37.pyc
script/__pycache__/train_kmer_models.cpython-37.pyc
script/__pycache__/train_oneLayer_CNN.cpython-37.pyc
script/.ipynb_checkpoints/iter_train-checkpoint.py
script/.ipynb_checkpoints/main_train-checkpoint.py
script/.ipynb_checkpoints/Nupack_MFE_prediction-checkpoint.py
script/.ipynb_checkpoints/train_kmer_models-checkpoint.py
script/.ipynb_checkpoints/train_oneLayer_CNN-checkpoint.py
evaluation/.ipynb_checkpoints/2.Fig2_Fig3-checkpoint.ipynb
evaluation/.ipynb_checkpoints/align_kallu_data-checkpoint.ipynb
evaluation/.ipynb_checkpoints/Evaluate_Koo_Conf_CNN-checkpoint.ipynb
evaluation/.ipynb_checkpoints/Kmer_models-checkpoint.ipynb
evaluation/.ipynb_checkpoints/OneLayer_models-checkpoint.ipynb
evaluation/lightning_logs/version_0/events.out.tfevents.1665418641.hku-sbms-spgpu.94045.0
evaluation/lightning_logs/version_0/hparams.yaml
evaluation/lightning_logs/version_0/.ipynb_checkpoints/hparams-checkpoint.yaml
evaluation/lightning_logs/version_0/checkpoints/epoch=5-step=10968.ckpt
evaluation/lightning_logs/version_1/events.out.tfevents.1665419819.hku-sbms-spgpu.67469.0
evaluation/lightning_logs/version_1/events.out.tfevents.1665420692.hku-sbms-spgpu.67469.1
evaluation/lightning_logs/version_1/hparams.yaml
evaluation/lightning_logs/version_1/checkpoints/epoch=5-step=10968.ckpt
evaluation/lightning_logs/version_2/events.out.tfevents.1665468963.hku-sbms-spgpu.170835.7
evaluation/lightning_logs/version_2/hparams.yaml
evaluation/lightning_logs/version_3/events.out.tfevents.1665469151.hku-sbms-spgpu.170835.8
evaluation/lightning_logs/version_3/events.out.tfevents.1665469306.hku-sbms-spgpu.170835.9
evaluation/lightning_logs/version_3/hparams.yaml
evaluation/lightning_logs/version_3/checkpoints/epoch=5-step=10968.ckpt
evaluation/lightning_logs/version_4/events.out.tfevents.1665469309.hku-sbms-spgpu.170835.10
evaluation/lightning_logs/version_4/hparams.yaml
evaluation/lightning_logs/version_5/events.out.tfevents.1665469476.hku-sbms-spgpu.170835.11
evaluation/lightning_logs/version_5/events.out.tfevents.1665469660.hku-sbms-spgpu.170835.12
evaluation/lightning_logs/version_5/hparams.yaml
evaluation/lightning_logs/version_5/checkpoints/epoch=5-step=10968.ckpt
evaluation/lightning_logs/version_6/events.out.tfevents.1665469663.hku-sbms-spgpu.170835.13
evaluation/lightning_logs/version_6/events.out.tfevents.1665469993.hku-sbms-spgpu.170835.14
evaluation/lightning_logs/version_6/hparams.yaml
evaluation/lightning_logs/version_6/checkpoints/epoch=5-step=10968.ckpt
evaluation/lightning_logs/version_7/events.out.tfevents.1665469997.hku-sbms-spgpu.170835.15
evaluation/lightning_logs/version_7/events.out.tfevents.1665470450.hku-sbms-spgpu.170835.16
evaluation/lightning_logs/version_7/hparams.yaml
evaluation/lightning_logs/version_7/checkpoints/epoch=5-step=10968.ckpt
evaluation/lightning_logs/version_8/events.out.tfevents.1665470458.hku-sbms-spgpu.170835.17
evaluation/lightning_logs/version_8/events.out.tfevents.1665472543.hku-sbms-spgpu.170835.18
evaluation/lightning_logs/version_8/hparams.yaml
evaluation/lightning_logs/version_8/checkpoints/epoch=5-step=10968.ckpt
evaluation/lightning_logs/version_9/events.out.tfevents.1665472565.hku-sbms-spgpu.170835.19
evaluation/lightning_logs/version_9/events.out.tfevents.1665478623.hku-sbms-spgpu.170835.20
evaluation/lightning_logs/version_9/hparams.yaml
evaluation/lightning_logs/version_9/checkpoints/epoch=5-step=10968.ckpt
evaluation/__pycache__/PATH.cpython-37.pyc
evaluation/__pycache__/PATH.cpython-38.pyc
.ipynb_checkpoints/utils-checkpoint.py
__pycache__/utils.cpython-37.pyc
evaluation/Fig3_/.ipynb_checkpoints/3m_cor_cellline-checkpoint.ipynb
evaluation/Fig3_/.ipynb_checkpoints/FIG3_3cellline_permformance-checkpoint.csv
evaluation/Fig3_/.ipynb_checkpoints/Fig3_AB_Recomb2023-checkpoint.ipynb
evaluation/Fig3_/.ipynb_checkpoints/Fig3_ABC-checkpoint.ipynb
evaluation/Fig3_/.ipynb_checkpoints/PATH-checkpoint.py
evaluation/testset_result/.ipynb_checkpoints/stride11133m_MPA_V_pred-checkpoint.csv
evaluation/.ipynb_checkpoints/3.Fig2-checkpoint.ipynb
evaluation/.ipynb_checkpoints/evaluation_func-checkpoint.py
evaluation/.ipynb_checkpoints/Fig2_Data-checkpoint.ipynb
evaluation/.ipynb_checkpoints/Fig2_e_pred_error-checkpoint.csv
evaluation/.ipynb_checkpoints/Fig5-checkpoint.ipynb
evaluation/.ipynb_checkpoints/Performance_Fixed_TestSet_RPs-checkpoint.csv
evaluation/lightning_logs/version_10/events.out.tfevents.1665550511.hku-sbms-spgpu.170835.23
evaluation/lightning_logs/version_10/events.out.tfevents.1665551335.hku-sbms-spgpu.170835.24
evaluation/lightning_logs/version_10/hparams.yaml
evaluation/lightning_logs/version_10/checkpoints/epoch=5-step=17742.ckpt
evaluation/lightning_logs/version_11/events.out.tfevents.1665565741.hku-sbms-spgpu.157263.0
evaluation/lightning_logs/version_11/events.out.tfevents.1665566450.hku-sbms-spgpu.157263.1
evaluation/lightning_logs/version_11/hparams.yaml
evaluation/lightning_logs/version_11/checkpoints/epoch=5-step=17742.ckpt
evaluation/lightning_logs/version_12/events.out.tfevents.1665566453.hku-sbms-spgpu.157263.2
evaluation/lightning_logs/version_12/events.out.tfevents.1665567179.hku-sbms-spgpu.157263.3
evaluation/lightning_logs/version_12/hparams.yaml
evaluation/lightning_logs/version_12/checkpoints/epoch=5-step=17742.ckpt
